<section class="contact" id="contact">
    <div class="container">
        <h2>Contact Me</h2>
        <span class="seperator"></span>
        <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 contact__info">
                    <ul>
                    <li>
                        <i class="fas fa-envelope"></i> simantovtal@gmail.com
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i> <a href="tel:052-4789845"> 052-4789845</a> 
                    </li>
                    
                    </ul>
    
                </div>
            
            
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="contact__form">
                    <form >
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput required>
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput required>
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <mat-label>Subject</mat-label>
                            <input matInput required>
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <mat-label>Message</mat-label>
                            <textarea matInput placeholder="lets toke..."></textarea>
                          </mat-form-field>

                          <button mat-raised-button type="submit">Submit</button>
                        
                    </form>
                </div>
            

            </div>
        </div>
    </div>
</section>