<section class="about" id="about">
    <div class="container">
        <h2>
            About
        </h2>
        <span class="seperator"> 
        </span>
        <div class="row">
            <div class="col-lg-3 col-md-12"></div>
            <div class="about__content"> 
                <p> Hi, I'm Tal Siman Tov and I'm Bachelor's degree in Computer Science and Mathematics.</p>
                <div class="about__list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <!-- <li><i class="fas fa-caret-right"></i> </li> -->
                                <li><i class="fas fa-caret-right"></i> Graduate of Front-End Web Development course where we learned: CSS, Html5 and JavaScript.</li>
                                <li><i class="fas fa-caret-right"></i> Loves design and aesthetics.</li>
                                <!-- <li><i class="fas fa-caret-right"></i>Lorem, ipsum dolor.</li> -->
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <!-- <li><i class="fas fa-caret-right"></i></li> -->
                                <li><i class="fas fa-caret-right"></i> Has a background in insurance and finance.</li>
                                <li><i class="fas fa-caret-right"></i> Quick learner, experienced in working under stressful conditions.</li>
                                <li><i class="fas fa-caret-right"></i> Has experience in team-work and leading integrative teams.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vitae, mollitia facilis nemo vero rerum autem atque reprehenderit ab impedit libero recusandae cumque! Impedit nostrum repellendus molestias ipsam reprehenderit quia excepturi, libero beatae est rem iste incidunt consectetur tempore accusamus culpa, unde consequatur itaque. Culpa harum porro consequatur laboriosam distinctio!</p> -->

            </div>

        </div>
    </div>
</section>
