<section class="protfolio" id="protfolio">
    <div class="container">
        <h2>Portfolio</h2>
        <span class="seperator"></span>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="protfolio__item">
                    <img class="img-fluid" src="assets/img/img-Excel-editor.jpeg" alt="project image">
                    <div class="protfolio__item-content">
                        <h3 class="p1">Excel Editor</h3>
                        <i class="protfolio__item-desc">This Website was created to <br/> easily edit Excel files.</i>
                        <a mat-fab href="https://github.com/TalSMT/Excel-Editor-Web">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="protfolio__item">
                    <img class="img-fluid" src="assets/img/todo-list-img.jpeg" alt="project image">
                    <div class="protfolio__item-content">
                        <h3>Todo List</h3>
                        <i class="protfolio__item-desc"></i>
                        <a mat-fab href="https://github.com/TalSMT/Todo-List">
                            <i class="fas fa-link">
                               
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="protfolio__item">
                    <img class="img-fluid" src="assets/img/logo-e.PNG" alt="project image">
                    <div class="protfolio__item-content">
                        <h3>Logo Design Excel Editor </h3>
                        <i class="protfolio__item-desc"></i>
                        <a mat-fab href="https://github.com/TalSMT/Logo-Excel-Editor-Design">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
