<section class="resume" id="resume">
   
        <div class="resume__skills">
            <div class="container">
            <h2>Skills</h2>
           <span class="seperator"></span>      
                <ul class="d-flex">
                    <li><i class="devicon-angularjs-plain"></i></li>
                    <li><i class="devicon-html5-plain"></i></li>
                    <li><i class="devicon-css3-plain"></i></li>
                    <li><i class="devicon-javascript-plain"></i></li>
                    <li><i class="devicon-typescript-plain"></i></li>
                    <li><i class="devicon-firebase-plain"></i></li>
                    <li><i class="devicon-github-original"></i></li>
                </ul>
            </div>
        </div>
        <div class="resume__details">
            <div class="container">
                <h2>Resume</h2>
                <span class="seperator"></span>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Repellendus, autem dolorem eligendi quis quasi tempora consequatur
                      ab unde incidunt expedita suscipit impedit dignissimos cum eaque!</p> -->
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-md-12">
                       <h2>Summery</h2>
                         <div class="resume__resume-item">
                         <h4>Education</h4>
                         <!-- <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                              Modi sequi consequatur architecto distinctio neque labore!</i> -->
                              <ul>
                                  <li><b>2021: Udemy website</b>
                                    Front-End Web Development course where we learned: CSS, Html5 and JavaScript. 
                                  </li>
                                  <li> <b>2017-2019: Ariel University</b>
                                    BS.C in Computer Science and Mathematics.
                                  </li>
                                  <li><b>2015: Ness College</b>
                                    BI development course (about 310 hours). 
                                    </li>
                                    <li><b>2011-2013: Ariel University</b>
                                        B.A. in mass media.
                                        </li>
                              </ul>

                         </div>
                         <div class="resume__resume-experience">
                             <h4>Work Experience</h4>
                             <ul>
                                 <li><b>2020-2021: "Ashtenor" restaurant</b>
                                    Management of the "Ashtenor" restaurant owned by my husband and development of a website for the restaurant.
                                    </li>
                                    <li><b>2013-2016: Clal Insurance Company </b>
                                        Economist in the Finance Department Agents' Fees: I had two years of experience in developing BO reports and financial worlds by Intelligence Sap Business.
                                       </li>
                             </ul>
                         </div>

                    </div>
                    <div class="col-lg-6 col-md-12 col-md-12">
                    <div class="resume__resume-projects">
                        <h4>Projects</h4>
                        <i> <b>2019-2021:</b> Many projects describe mastering technologies   
                            that include: JavaScript, Html5, TypeScript, 
                            Angular, CSS, SCSS, Android Studio, Java   
                      </i>
                      <ul>
                          <li>
                              <b>Resume -</b> A site that presents the resume and Front-End projects I have created. Built using Angular and directories: Angular material, Bootstrap.
                          </li>
                          <li> 
                              <b>Excel Editor - </b> A site whose function is to read Excel files, edit them at the user's request, and export the changes that have taken place in a new file. The site was built using Angular.
                            </li>
                            <li>
                                <b>"Mitkazezim" - </b> A mobile app that shows different calculation routes of repayment of "debts" between a group of people (for example - roommates). Calculation algorithms have been developed to get the possible routes in Java. The app was built in Android Studio and the app's information was stored in Firebase using user authentication services.
                            </li>
                            <li>
                                <b>Todo List - </b>  A site that presents a list of tasks you need to complete. they're organised in order of priority. The site was built using Angular.
                            </li>
                             
                      </ul>

                    </div>
                </div>
                </div>

        </div>
    </div>
</section>