<section class="resume" id="resume">
   
        <div class="resume__skills">
            <div class="container">
            <h2>Skills</h2>
           <span class="seperator"></span>      
                <ul class="d-flex">
                    <li><i class="devicon-angularjs-plain"></i></li>
                    <li><i class="devicon-html5-plain"></i></li>
                    <li><i class="devicon-css3-plain"></i></li>
                    <li><i class="devicon-javascript-plain"></i></li>
                    <li><i class="devicon-typescript-plain"></i></li>
                    <li><i class="devicon-firebase-plain"></i></li>
                    <li><i class="devicon-github-original"></i></li>
                </ul>
            </div>
        </div>
        <div class="resume__details">
            <div class="container">
                <h2>Resume</h2>
                <span class="seperator"></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Repellendus, autem dolorem eligendi quis quasi tempora consequatur
                      ab unde incidunt expedita suscipit impedit dignissimos cum eaque!</p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-md-12">
                       <h2>Summery</h2>
                         <div class="resume__resume-item">
                         <h4>Tal Simantov</h4>
                         <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                              Modi sequi consequatur architecto distinctio neque labore!</i>
                         </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-md-12"></div>
                </div>

        </div>
    </div>
</section>